@import "../../../assets/baseStyle.scss";
.containerHeader {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100vw;
  height: 50px;
  background: $bgHeader;
  nav {
    display: flex;
    flex-direction: row;
    width: 80vw;
    .left {
      display: flex;
      justify-content: start;
      align-items: center;
      width: 50%;
      height: 100%;
      .logo {
        width: 33.3%;
        font-family: $fontTextBold;
        text-align: center;
        font-weight: 700;
        font-size: 1.3vw;
        color: $colText;
      }
    }
    .right {
      display: flex;
      width: 50%;
      height: 100%;
      ul {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: end;
        width: 100%;
        height: 100%;
        li {
          width: 20%;
          display: flex;
          justify-content: center;
          font-family: $fontTextBold;
          font-weight: 700;
          font-size: 1.3vw;
          a {
            text-decoration: none;
            color: $colText;
          }
        }
      }
    }
  }
  //   .left {
  //     display: flex;
  //     flex-direction: column;
  //     justify-content: center;
  //     align-items: center;
  //     width: 50%;
  //     .logo {
  //       width: auto;
  //       font-family: $fontTextBold;
  //       font-weight: 700;
  //       font-size: x-large;
  //       color: $colText;
  //     }
  //   }
  //   .right {
  //     display: flex;
  //     flex-direction: row;
  //     justify-content: center;
  //     width: 50%;
  //     nav {
  //       display: flex;
  //       justify-self: center;
  //       width: 50%;
  //       ul {
  //         display: flex;
  //         flex-direction: row;
  //         align-items: center;
  //         justify-content: space-around;
  //         width: 100%;
  //         height: 100%;
  //         li {
  //           width: 33.3%;
  //           display: flex;
  //           justify-content: center;
  //           font-family: $fontTextBold;
  //           font-weight: 700;
  //           font-size: x-large;

  //           a {
  //             text-decoration: none;
  //             color: $colText;
  //           }
  //         }
  //       }
  //     }
  //   }
}
