<<<<<<< HEAD
@font-face {
  font-family: Monserrat;
  src: url("../public/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: Monserrat_Bold;
  src: url("../public/fonts/Montserrat-Bold.ttf");
}
$fontTextReg: Monserrat_Reg;
$fontTextBold: Monserrat_Bold;
=======
$fontTextReg: Monserrat_Reg;
$fontTextBold: Monserrat_Bold;

$userIcon: url("@/assets/icons/user-icon.svg");
$showIcon: url("@/assets/icons/bx-show.svg");
$hiddenIcon: url("@/assets/icons/bx-low-vision.svg");
$passwordIcon: url("@/assets/icons/blocked-icon.svg");

$bgPages: #f0f1f3;
$bgHeader: #0095ff;
$colText: #f0f1f3;
$fontColorRuls: #ff2400;
$bgInput: #f0f1f3;
$bgButton: $bgHeader;
>>>>>>> components
