@font-face {
    font-family: Monserrat;
    src: url('../public/fonts/Montserrat-Regular.ttf');
}
@font-face {
    font-family: Monserrat_Bold;
    src: url('../public/fonts/Montserrat-Bold.ttf');
}
$fontTextReg:Monserrat_Reg;
$fontTextBold:Monserrat_Bold;